@charset "ISO-8859-1";

body { 
font-famyly: 'Releway';
font-size: 16 px;
font-weight: 300 ;
/*color de la letra */
color:#000000; 
line-height: 30px;
text-align: center;
background-color: #222733;
/*  #2EFE2E  #fff*/
}

strong{
	font-weight: 500;
}
#contenedor{
	border: 10px;
	
	padding: 10px;
	
	text-align: center;
	margin: 0px auto;
	
	background-color:#222733;
	
}
#Logo{
	background: #2E4053;
	display: block;
	text-align: left;
	
	


}

#menu{

	/*background: #58D68D ;*/
	height: 100px;/*achicar cuando se pongan en linea*/
	font-family: arial black;
	font-size: 16 px;
	margin: auto;
	width: 600px;
	
}
.nav li a {
	background-color: #566573;/*color enegro*/
	color: #fff;
	text-decoration: none;
	padding: 10px 15px;/*ancho y largo*/
	display: block;/*los elementos se pueden agrupar*/
}

.nav > li{
	float: left;

}
/*para cuando se pase el  mouse por arriba el hover*/
.nav li a:hover{
	background-color: #A9DFBF ;

	
}
.nav li ul{
	display: none;/*Todos los sub menus desaparecen*/
	position: absolute; 
	min-width: 140px;

}
.nav li:hover > ul{
	display: block; 
}

/*todas las redirecciones */
a, a:hover, a:focus {
	text-decoration: none;
	
}

h1, h2{
	margin-top: 10px;
	font-size: 38px;
	font-weight: 100;
	line-height: 50px;

}
h3{
	font-size: 22px;
	font-weight: 300;
	color: #2EFE2E;
}
/* contenidos y formularios  */

.my-content{
	padding: 100px 0 170px 0; /* es la separacion entre  contenido y contenido */
	}
.my-content .mydescription{
	margin: 20px 0 10px 0;
}
.my-content .mydescription p {
	opacity: 0.8;
}
.myform-cont{
	margin-top:  35px;
	
}
.myform-top{
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: rgba(0, 0, 0, 0.35);
	-moz-border-radius:10px 10px 0 0 ;
	-webkit-border-radius:10px 10px 0 0 ;
	border-radius: 10px 10px 0 0;
	
}
.myform-top-left{
float: left;
width: 75%;
padding-top: 25px;
text-align: left;
}
.myform-top-leftt p{
opacity: 0.8;
}
.myform-top-right{
float: right;

padding-top: 25px;
text-align: right;
}

/*antes del formulario*/
.myform-bottom{
	padding: 25px 25px 30px 25px;
	background: rgba(0, 0, 0 ,0.3);
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
	
}
.myform-bottom .mybtn{
	width:  100%;
	}
	
input[type-"text"]:focus,
input[type-"password"]:focus,
textarea:focus, textarea.form-control:focus{
	background: #fff;
	border: 2px solid #2EFEF7;
}
button.mybtn{
	height: 50px;
	background: #FF8000;
	border: 0;
	font-size: 16px;
	font-weight: 500;
	line-height: 40px;
	color: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
button.mybtn:hover, button.mybtn:active{
	opacity: 0.6;
	color: #fff;
	
}
button.mybtn:focus{
	opacity: 0.6;
	color: #fff;
	background: #00FFBF;
}
.tablaPersona{
	color: #000000;
	background-color: white;
	
}

.Pie{
	/*fondo de pie*/
	background-color: white;
}



.error{
    background-color: #BC1010;
    padding: 6px 12px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 6px;
    position: absolute;
}
.error:before{ /* Este es un truco para crear una flechita */
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #BC1010;
    border-left: 8px solid transparent;
    left: -16px;
    position: absolute;
    top: 5px;
}


.botonEditar{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;/* color de la letra  */
    background-color: #00FF00; /* color de fondo del boton */
    border-radius: 6px;
    border: none;
  }
  .botonEliminar{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;/* color de la letra  */
    background-color:#FF0000; /* color de fondo del boton */
    border-radius: 6px;
    border: none;
  }
  .botonFixture{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;/* color de la letra  */
    background-color:#fd860f; /* color de fondo del boton */
    border-radius: 6px;
    border: none;
  }
